#container {
    display: flex;
    flex-wrap: wrap;
    height: 520px;
    width: 520px;
    padding: 48px;
}

.square {
    box-sizing: border-box;
    height: calc(100%/16);
    width: calc(100%/16);
    border: 1px solid black;
    background-color: #ccc;
}