#container {
    display: flex;
    flex-wrap: wrap;
    height: 520px;
    width: 520px;
    margin: 54px;
    border: 3px solid black;
}

.square {
    box-sizing: border-box;
    height: calc(100%/16);
    width: calc(100%/16);
    background-color: #ccc;
}