body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 520px;
    width: 520px;
    margin: 54px;
    border: 3px solid black;
}

.square {
    box-sizing: border-box;
}